<form (ngSubmit)="onAddIngredient(form)" #form="ngForm">
  <label>Name</label>
  <input ngModel name="name" required type="text" />
  <br />
  <label>Amount</label>
  <input ngModel name="amount" required type="number" min="1" />
  <br />
  <button [disabled]="form.invalid && !form.untouched" type="submit">
    {{ editMode ? "Update" : "Add" }}
  </button>
  <button *ngIf="editMode" type="button" (click)="onDelete()">Delete</button>
  <button type="button" (click)="onClear()">clear</button>
</form>
